.header{
    margin: 0%;
    width: 100%;
    background-color: rgba(0, 204, 255, 0.564);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.container1{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction:column;
}
.border_sq{
    width: 330px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column; 
    align-items: center;   

}
.pic{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 10px;
    border: 1px solid black;
    background-size: 600px 800px;  
    background-repeat: no-repeat;
    
    }
    img{
        align-self: center;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        border-radius: 100%;
        aspect-ratio: 1/1;
    }

.name{
    margin-bottom: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.proj{
    font-family: sans-serif;
;    margin-top: 0%;
    font-size: 15px !important;
    font-size: 20px;
}

footer {
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    display:flex ;
    justify-content: center;
    box-sizing: border-box;
}
    
 
    

