@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* remove default outline from buttons */
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  text-align: center;
  width: 40%;
  height: 2rem;
  font-size: 1rem;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav-tabs {
  border-bottom: 0;
}

@media (max-width: 575.98px) {
  .nav-item {
    padding-top: 1rem;
    margin: 0 auto;
  }
}

#body,
#logo {
	height: auto;
}

.tab,
.topnav a,
a {
	text-decoration: none;
}

#logo,
.topnav a {
	text-align: center;
}

#image,
#output {
	transition: transform .2s ease-in-out;
	margin-bottom: 1rem;
}

#image,
#output,
button {
	margin-bottom: 1rem;
}

#download,
#logo,
#tab1 {
	margin-left: 1rem;
}

#download,
#heading,
#logo,
a {
	background-color: transparent;
}

* {
	padding: 0;
	margin: 0;
	/* background-color: #111824; */
	font-family: 'Times New Roman', Times, serif;
}

#imglogo {
	height: 2.1rem;
	border-radius: 22px;
	margin-right: 2%;
}

.lo {
	height: 2.1rem;
}

.bold-text {
    font-weight: bold;
	height: 100%;
}

#nav {
	height: 3rem;
	background-color: #d4dacb;
	color: #000;
	padding-left: .5rem;
	font-size: x-large;
}

#logo {
	font-family: 'Courier New', Courier, monospace;
	margin-top: 6px;
	color: #fff;
	font-size: 35px;
}

.tab {
	color: grey;
	font-size: 15px;
	margin-right: 0 !important;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
	border-right: 1px solid #000;
}

#tab3 {
	color: #ffb6c1;
	border-right: 0 !important;
}

#body {
	width: 100%;
	/* color: #fff; */
   padding-left: 1.5rem;
}

#image,
#output,
.image {
	width: 300px;
	margin-left: 2rem;
}

#footer {
	height: 4rem;
	background-color: #0a0a0a;
	text-align: right;
	color: #000;
	padding-top: 10px
}

a {
	margin-right: 20px;
    text-decoration: none !important;
}
a:hover{
    color: #04aa6d;
}
.topnav {
	overflow: hidden;
	background-color: #070707;;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 14px 16px;
	font-size: 17px;
}

.topnav a.active {
	background-color: #04aa6d !important;
	color: #fff;
}

.topnav .icon {
	display: none;
}

@media screen and (max-width:600px) {
	.topnav a:not(:first-child) {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}

	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.topnav.responsive #heading {
		padding-right: 30%;
	}
}

h1 {
	text-decoration: underline;
}

h3 {
	margin-left: 10px;
}

h4 {
	
	
	margin-bottom: 2rem;
}

#image {
	margin-top: 3rem;
}

.image {
	margin-bottom: 10px;
}

button {
	background-color: #588399;
	color: #f0dbdb;
	font-size: 1.2rem;
	padding: 5px;
	margin-top: 1rem;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
}

#bar {
	font-size: larger;
	margin-top: .5rem;
}

#form {
	align-self: center;
}
#heading {
	float: right;
	padding-left: 20px;
	font-size: 1.5rem;
}
code {
	display: block;
	white-space: pre;
	font-family: monospace;
	background-color: transparent;
	padding: 10px;
	color: #04aa6d;
    display: none !important;
}
output {
	display: block;
	white-space: pre;
	font-family: monospace;
	background-color: black;
	height: auto;
	margin-left: 3rem;
	width: max-content;
	padding: 10px;
	color: white;
     display: none !important;
}
#heading:hover{
 color: white !important;
 pointer-events: none;
}
.head:hover{
color: white !important;
background: none !important;
pointer-events: none;
}
.inactive:hover {
    background: linear-gradient(to right, rgb(8, 7, 7), rgb(76, 92, 76), rgb(75, 139, 107));
    color: #fff;
  }
  
#myTopnav{
	position: fixed;
	width: 100%;
}
#up{
	/* background-color: black; */
	width: 100%;
	height: 20px;
	position: fixed;
	margin-top: 122%;
}
#arrow{
	margin-right: 10%;
	float: right;
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	color: white;
	padding: 10px;
}
/* CSS in a separate file (e.g., style.css) or in a <style> tag in the HTML document */

.go-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff18;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 999;
}

.go-to-top-button span {
    font-size: 20px;
}
iframe {
	display: none;
	visibility: hidden;
}
#preprocessor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10%;
    width: 10%;
}


  