@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* remove default outline from buttons */
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
  box-shadow: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  text-align: center;
  width: 40%;
  height: 2rem;
  font-size: 1rem;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav-tabs {
  border-bottom: 0;
}

@media (max-width: 575.98px) {
  .nav-item {
    padding-top: 1rem;
    margin: 0 auto;
  }
}

#body,
#logo {
	height: auto;
	
}
/* #body{
	background-image: linear-gradient(135deg, #ffb3b393, #ffd6998f, #ffffb396, #b3ffb39e, #b3b3ff93, #dab3ff94, #ffb3e68c);


} */
.tab,
.topnav a,
a {
	text-decoration: none;
}

#logo,
.topnav a {
	text-align: center;
}
header{
	z-index: 100;
}
#image,
#output {
	transition: transform .2s ease-in-out;
	margin-bottom: 1rem;
}

#image,
#output,
button {
	margin-bottom: 1rem;
}

#download,
#logo,
#tab1 {
	margin-left: 1rem;
}

#download,
#heading,
#logo,
a {
	background-color: transparent;
}

* {
	padding: 0;
	margin: 0;
	/* background-color: #111824; */
	font-family: 'Times New Roman', Times, serif;
	-webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#imglogo {
	height: 2.1rem;
	border-radius: 22px;
	margin-right: 2%;
}

.lo {
	height: 2.1rem;
}

.bold-text {
    font-weight: bold;
	height: 100%;
}

#nav {
	height: 3rem;
	background-color: #d4dacb;
	color: #000;
	padding-left: .5rem;
	font-size: x-large;
}

#logo {
	font-family: 'Courier New', Courier, monospace;
	margin-top: 6px;
	color: #fff;
	font-size: 35px;
}

.tab {
	color: grey;
	font-size: 15px;
	margin-right: 0 !important;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
	border-right: 1px solid #000;
}

#tab3 {
	color: #ffb6c1;
	border-right: 0 !important;
}

#body {
	margin-top: 3.5rem;
	width: 100%;
	/* color: #fff; */
   padding-left: 1.5rem;   
}

#image,
#output,
.image {
	width: 300px;
	margin-left: 2rem;
}

#footer {
	height: 4rem;
	background-color: #0a0a0a;
	text-align: right;
	color: #000;
	padding-top: 10px
}

a {
	margin-right: 20px;
    text-decoration: none !important;
}
/* a:hover{
    color: #04aa6d;
} */
.topnav {
	overflow: hidden;
	background-color: #070707;;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 14px 16px;
	font-size: 17px;
}

.topnav a.active {
	background-color: #04aa6d !important;
	color: #fff;
}

.topnav .icon {
	display: none;
}

@media screen and (max-width:600px) {
	.topnav a:not(:first-child) {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}

	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.topnav.responsive #heading {
		padding-right: 30%;
	}
	.nav-link{
		padding: 0.5rem 1rem 0.5rem 1rem !important;

	}
}

h1 {
	text-decoration: underline;
}

h3 {
	margin-left: 10px;
}

h4 {
	
	
	margin-bottom: 2rem;
}

#image {
	margin-top: 3rem;
}

.image {
	margin-bottom: 10px;
}

button {
	background-color: #588399;
	color: #f0dbdb;
	font-size: 1.2rem;
	padding: 5px;
	margin-top: 1rem;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
}

#bar {
	font-size: larger;
	margin-top: .5rem;
}

#form {
	align-self: center;
}
#heading {
	float: right;
	padding-left: 20px;
	font-size: 1.5rem;
}
code {
	display: block;
	white-space: pre;
	font-family: monospace;
	background-color: transparent;
	padding: 10px;
	color: #04aa6d;
    display: none !important;
}
output {
	display: block;
	white-space: pre;
	font-family: monospace;
	background-color: black;
	height: auto;
	margin-left: 3rem;
	width: max-content;
	padding: 10px;
	color: white;
     display: none !important;
}
#heading:hover{
 color: white !important;
 pointer-events: none;
}
.head:hover{
color: white !important;
background: none !important;
pointer-events: none;
}
.inactive:hover {
    background: linear-gradient(to right, rgb(8, 7, 7), rgb(76, 92, 76), rgb(75, 139, 107));
    color: #fff;
  }
  
#myTopnav{
	position: fixed;
	width: 100%;
}
#up{
	/* background-color: black; */
	width: 100%;
	height: 20px;
	position: fixed;
	margin-top: 122%;
}
#arrow{
	margin-right: 10%;
	float: right;
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	color: white;
	padding: 10px;
}
/* CSS in a separate file (e.g., style.css) or in a <style> tag in the HTML document */

.go-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff18;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 999;
}

.go-to-top-button span {
    font-size: 20px;
}
iframe {
	display: none;
	visibility: hidden;
}
#preprocessor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
	z-index: 1;
	background-color: #000 !important;
}


  #preprocessor img{
	margin-top: 20%;
	width: 10rem;
	height: 10rem;
}
tbody, td, tfoot, th, thead, tr{
	border-width: 1px !important;
	padding: 5px;
}
table{
margin:5px;
}

li.nav-item a{
	padding-left: 10px;
}

#img1{
    width:300px;
    transition:transform .2s ease-in-out;
}
    #img1:hover{transform:scale(1.2);cursor:zoom-in}
    h3{
    margin-left: 0 !important;
    }




#share{
	position: absolute;
	bottom: 5%;
	right: 5%;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background-color: black;
	align-self: center;
	padding-top: 15px;
	padding-left: 10px;
}
.show_it{
    list-style: none;
    display: flex;
    margin-bottom: 10px;

  }
  .show_it xmp{
    margin-right: 20px;
	

  }
  .show_it input{
	width: 35%;
	margin-right: 10px;
  }
  ::-webkit-scrollbar{
	width: 18px;
	
  }
  ::-webkit-scrollbar-thumb{
	background: url(down-arrow.gif) no-repeat;
	background-size: contain; /* or cover, depending on your image */
    border: none;
  }
  ::-webkit-scrollbar-track{
	background: #f1f1f1;
  }
#watermark{
 position:fixed;
 bottom:40%;
 right:15%;
 opacity:0.1;
 font-size: 55px;
 rotate: -45deg;
 z-index:99;
 color:rgb(112, 109, 109);
 user-select: none;
 pointer-events: none;

}
.heading_name{
	background-color: #ebd6d6;
	margin-left:-20px ;
	text-align: center;
	font-size: large;
	font-family: cursive;
}

#top_bar{
	width: 100%;
	display: flex;
	/*height: 4vh;*/
}
#tongle_arrow{
	height: 6vh;
	
}
#upper_menu_btn{
	margin: 0;
	border: none;
	user-select: none;
}

#sec_nav{
	height: 7vh;
	margin: 0 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#myNav{
	margin-top: -10px;
	background-color: white;
	width: 100%;
	/* border: 1px solid black; */
}
#myNav li{
	text-align: center;
	width: 100%;
	border-bottom: 1px solid black;
}
.nav-item:hover{
	background-color: rgb(109, 170, 231);
	
}
.nav-item a:hover{
	color: white !important;
}

#img1{
	width:300px;
	transition:transform .2s ease-in-out;
}
	#img1:hover{transform:scale(1.055);cursor:zoom-in}
	h3{
	margin-left: 0 !important;
	}
	 /* Custom styles for the left sidebar */
	 .sidebar-left {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: #111;
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 60px;
  }
  .sidebar-left h2{
	padding: 8px 8px 8px 15px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  .sidebar-left a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  font-size: 20px;
	  color: #818181;
	  display: block;
	  transition: 0.3s;
  }

  .sidebar-left a:hover {
	  color: #f1f1f1;
	  background-color: rgb(109, 170, 231);
  }

  .sidebar-left .closebtn {
	  position: absolute;
	  top: 0;
	  right: 0px;
	  font-size: 36px;
	  margin-left: 50px;
  }

.sidebar-left > .active{
	background-color: rgb(109, 170, 231);
	color: #f1f1f1;
}
.down_arrow{
	font-size: 30px;
}
ans::before{
	
	content: "➡";
	
}
ans{
	margin-bottom: 20px;
}
que{
	font-size: 18px;
}
